.textCen{
    text-align center
}
a {
    text-decoration none
}
.textSel{
    color $selected
}
.textTit{
    color $info
}
.textPri{
    color $third
    font-size 28px
    line-height 40px
    text-align center
}